<h1>Welcome to Admin Panel</h1>

<h3>Here, you can make operation of <a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a> and <a asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a> by using left aside menu.</h3>